h2 {
    border-bottom-style: double
}

p {
    background-color: cadetblue;
    color: black
}

ul {
    background-color: aqua
}

/*. required to indicate a class*/
.class1 {
    border-style: dashed
}

/*#id will edit only sepcific element*/
#class_ad {
    border-radius: 75%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid #699;
}