h2 {
    border-bottom-style: double
}

p {
    background-color: cadetblue;
    color: black
}

ul {
    background-color: aqua
}

/*. required to indicate a class*/
.class1 {
    border-style: dashed
}